# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_COLUBRIS_MINI_DONGLE
	def_bool $(shields_list_contains,colubris_mini_dongle)

config SHIELD_COLUBRIS_MINI_CENTRAL_LEFT
	def_bool $(shields_list_contains,colubris_mini_central_left)

config SHIELD_COLUBRIS_MINI_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,colubris_mini_peripheral_left)

config SHIELD_COLUBRIS_MINI_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,colubris_mini_peripheral_right)
    
