#include "hookah.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &hookah_layout;
        zephyr,display = &oled;
    };

    mock_kscan: mock_kscan0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

// /delete-node/ &kscan0;   // only required if the dongle uses a 
//                                // different board than the peripherals
                                // Since we do that, we have to delete the node.

&pro_micro_i2c {
    status = "okay";
    
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        inversion-on;
        prechargep = <0x22>;
    };
};

/{
    tpoint0: virtual_input_tp {
		compatible = "zmk,virtual-input";
	};
    input_relay_config_105 {
		compatible = "zmk,split-peripheral-input-relay";
		relay-channel = <105>;
		device = <&tpoint0>;
	};
};