// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
toprowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_TOPROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM>; \
};

#define MIRYOKU_KLUDGE_THUMBCOMBOS_TERM 200
#define MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(LAYER, POSITION, BINDING) \
thumbcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_THUMBCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_THUMBCOMBOS_TERM>; \
};

#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
bottomrowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM>; \
};


#define MIRYOKU_KLUDGE_TOPROWCOMBOS_LEFTPINKIE LT3 LT2
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_LEFTINNERINDEX LT2 LT1
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_RIGHTINNERINDEX RT1 RT2
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_RIGHTPINKIE RT2 RT3

#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_LEFTPINKIE LB3 LB2
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_LEFTINNERINDEX LB2 LB1
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_RIGHTINNERINDEX RB1 RB2
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_RIGHTPINKIE RB2 RB3

#define MIRYOKU_KLUDGE_THUMBCOMBOS_LEFT LH1 LH0
#define MIRYOKU_KLUDGE_THUMBCOMBOS_RIGHT RH1 RH0

#define U_NP &none // key is not present
#define U_NA &none // present but not available for use
#define U_NU &none // available but not used


/ {
  combos {
    compatible = "zmk,combos";

// Bottom Row Combos
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, LEFTPINKIE, &kp Z)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, LEFTINNERINDEX, &kp V)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, RIGHTINNERINDEX, &kp K)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, RIGHTPINKIE, &kp SLASH)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, LEFTPINKIE, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, LEFTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, RIGHTINNERINDEX, &kp INS)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, RIGHTPINKIE, &kp END)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, LEFTPINKIE, &kp GRAVE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, LEFTINNERINDEX, &kp BSLH)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, RIGHTPINKIE, U_NA)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, LEFTPINKIE, &kp TILDE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, LEFTINNERINDEX, &kp PIPE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, RIGHTPINKIE, U_NA)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, LEFTPINKIE, &kp F10)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, LEFTINNERINDEX, &kp PAUSE_BREAK)

// Thumb Combos
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(DEF, LEFT, &kp ESC)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(NUM, LEFT, &kp DOT)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(SYM, LEFT, &kp LPAR)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(DEF, RIGHT, &lt FUN DEL)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(NAV, RIGHT, &kp DEL)

  };
};
