// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
toprowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_TOPROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM>; \
};

#define MIRYOKU_KLUDGE_THUMBCOMBOS_TERM 200
#define MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(LAYER, POSITION, BINDING) \
thumbcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_THUMBCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_THUMBCOMBOS_TERM>; \
};

#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
bottomrowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM>; \
};


#define MIRYOKU_KLUDGE_TOPROWCOMBOS_LEFTPINKIE LT3 LT2
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_LEFTINNERINDEX LT2 LT1
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_RIGHTINNERINDEX RT1 RT2
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_RIGHTPINKIE RT2 RT3

#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_LEFTPINKIE LB3 LB2
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_LEFTINNERINDEX LB2 LB1
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_RIGHTINNERINDEX RB1 RB2
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_RIGHTPINKIE RB2 RB3

#define MIRYOKU_KLUDGE_THUMBCOMBOS_LEFT LH1 LH0
#define MIRYOKU_KLUDGE_THUMBCOMBOS_RIGHT RH1 RH0

#define U_NP &none // key is not present
#define U_NA &none // present but not available for use
#define U_NU &none // available but not used


/ {
  combos {
    compatible = "zmk,combos";

// Top Row Combos
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(DEF, LEFTPINKIE, &kp Q)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(DEF, LEFTINNERINDEX, &kp B)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(DEF, RIGHTINNERINDEX, &kp J)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(DEF, RIGHTPINKIE, &kp SQT)

MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NAV, LEFTPINKIE, &bootloader)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NAV, LEFTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NAV, RIGHTINNERINDEX, U_RDO)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NAV, RIGHTPINKIE, U_UND)

MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NUM, LEFTPINKIE, &kp LBKT)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NUM, LEFTINNERINDEX, &kp RBKT)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NUM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(NUM, RIGHTPINKIE, &bootloader)

MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(SYM, LEFTPINKIE, &kp LBRC)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(SYM, LEFTINNERINDEX, &kp RBRC)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(SYM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(SYM, RIGHTPINKIE, &bootloader)

MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(FUN, LEFTPINKIE, &kp F12)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(FUN, LEFTINNERINDEX, &kp PSCRN)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(FUN, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(FUN, RIGHTPINKIE, &bootloader)

MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, LEFTPINKIE, U_UND)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, LEFTINNERINDEX, U_RDO)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, RIGHTINNERINDEX, U_RDO)
MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, RIGHTPINKIE, U_UND)

// Bottom Row Combos
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, LEFTPINKIE, &lt U_BUTTON Z)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, LEFTINNERINDEX, &kp V)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, RIGHTINNERINDEX, &kp K)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(DEF, RIGHTPINKIE, &lt U_BUTTON SLASH)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, LEFTPINKIE, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, LEFTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, RIGHTINNERINDEX, &kp INS)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NAV, RIGHTPINKIE, &kp END)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, LEFTPINKIE, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, LEFTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, RIGHTINNERINDEX, U_NU)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, RIGHTPINKIE, U_WH_R)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, LEFTPINKIE, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, LEFTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, RIGHTINNERINDEX, &u_out_tog)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, RIGHTPINKIE, &u_bt_sel_3)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, LEFTPINKIE, &kp GRAVE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, LEFTINNERINDEX, &kp BSLH)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(NUM, RIGHTPINKIE, U_NA)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, LEFTPINKIE, &kp TILDE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, LEFTINNERINDEX, &kp PIPE)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(SYM, RIGHTPINKIE, U_NA)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, LEFTPINKIE, &kp F10)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, LEFTINNERINDEX, &kp PAUSE_BREAK)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, RIGHTINNERINDEX, U_NA)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(FUN, RIGHTPINKIE, U_NA)

MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, LEFTPINKIE, U_UND)
// Disabled, this is copy-paste stuff
// MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, LEFTINNERINDEX, U_RDO)
// MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, RIGHTINNERINDEX, U_RDO)
MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, RIGHTPINKIE, U_UND)

// Thumb Combos
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(DEF, LEFT, &lt U_MEDIA ESC)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, LEFT, &lt U_MEDIA ESC)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, LEFT, U_BTN3)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(NUM, LEFT, &kp DOT)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(SYM, LEFT, &kp LPAR)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(FUN, LEFT, &kp K_APP)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(DEF, RIGHT, &lt FUN DEL)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, RIGHT, &lt FUN DEL)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, RIGHT, U_BTN3)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(NAV, RIGHT, &kp DEL)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MOUSE, RIGHT, U_BTN3)
MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MEDIA, RIGHT, &kp C_MUTE)

  };
};
