/* KEY POSITIONS (using keypos_def helpers)
╭─────────────────────┬─────────────────────╮
│ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
│ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
│ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
╰───────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────╯
        ╰─────────────┴─────────────╯       */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
        __VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";
        
// Vertical Combos 
COMBO(lbrc,   &kp LBRC,    LM3 LT3,     DEF NUM,      40, 100)
COMBO(rbrc,   &kp RBRC,    RM3 RT3,     DEF NUM,      40, 100)

COMBO(lbkt,   &kp LBKT,    LM2 LT2,     DEF NUM,      40, 100)
COMBO(rbkt,   &kp RBKT,    RM2 RT2,     DEF NUM,      40, 100)

COMBO(lpar,   &kp LPAR,    LM1 LT1,     DEF NUM,      40, 100)
COMBO(rpar,   &kp RPAR,    RM1 RT1,     DEF NUM,      40, 100)


// Top Row Combos
COMBO(q,      &kp Q,       LT3 LT2,     DEF,      80,  50)
COMBO(sqt,    &kp SQT,     RT3 RT2,     DEF,      80,  50)

// COMBO(lbkt,   &kp LBKT,    LT3 LT2,     NUM,      40, 100)

// COMBO(lbrc,   &kp LBRC,    LT3 LT2,     SYM,      80, 100)


// Bottom Row Combos
COMBO(z,      &kp Z,       LB3 LB2,     DEF,      80,  50)
COMBO(v,      &kp V,       LB2 LB1,     DEF,      40,  50)
COMBO(k,      &kp K,       RB2 RB1,     DEF,      80,  50)
COMBO(slsh,   &kp SLASH,   RB2 RB3,     DEF,      80,  50)
COMBO(f12,    &kp F12,     LB3 LB2,     FUN,      100, 200)
COMBO(btclr,  &bt BT_CLR,  RB2 RB3,     FUN,      100, 200)

COMBO(grave,  &kp GRAVE,   LB3 LB2,     NUM,      40, 100)
COMBO(bslh,   &kp BSLH,    LB2 LB1,     NUM,      80, 100)

COMBO(ins,    &kp INS,     RB1 RB2,     NAV,      80, 100)
COMBO(end,    &kp END,     RB2 RB3,     NAV,      80, 100)

COMBO(tilde,  &kp TILDE,   LB3 LB2,     SYM,      80, 100)
COMBO(pipe,   &kp PIPE,    LB2 LB1,     SYM,      80, 100)

// MISC 
COMBO(capswd, &caps_word,  LM1 RM1,     DEF,      60, 200)


// Thumb Combos
// COMBO(tab,    &kp TAB,     LH1 LH0,     DEF,      80, 100)
// COMBO(dot,    &kp DOT,     LH1 LH0,     NUM,      80, 100)
// COMBO(lpar,   &kp LPAR,    LH1 LH0,     SYM,      80, 100)

// COMBO(del,    &kp DEL,     RH1 RH0,     DEF,      80, 100)



// COMBO(semi,   &kp SEMI,    RT1 RT2,     DEF SYM,  40, 100)
// COMBO(tab,    &kp TAB,     LM3 LM1,     DEF SYM,  40, 150)
// COMBO(del,    &kp DEL,     RM1 RM3,     DEF SYM,  40, 150)
// COMBO(esc,    &kp ESC,     LM3 LM2 LM1, DEF SYM,  40,   0)
// COMBO(ret,    &kp RET,     RM1 RM2 RM3, DEF SYM,  40,   0)


// COMBO(lock,   &kp LG(L),   LT1 LT0,     DEF,      80, 500)

// COMBO(play,   &kp C_PP,    LT0 LM0,     NAV,         200, 200)


    };
};