#include <behaviors/studio_unlock.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS BSPC DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp A  &kp R  &kp S  &kp T  &kp G  &kp H  &kp N  &kp E  &kp I  &kp O  &kp Z  &kp X  &kp C  &kp D  &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC  &kp SPACE  &kp BSPC  &kp RET
            >;
        };
    };
};
