#include <behaviors/studio_unlock.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS BSPC DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>; };

/ {
    combos {
        compatible = "zmk,combos";

        q {
            bindings = <&kp Q>;
            key-positions = <0 1>;
            layers = <0>;
        };

        v {
            bindings = <&kp V>;
            key-positions = <20 21>;
            layers = <0>;
        };

        quot {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <7 6>;
        };

        k {
            bindings = <&kp K>;
            key-positions = <22 23>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T  &kp G  &kp H  &mt RSHIFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O  &kp Z  &kp X  &kp C  &kp D  &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC  &kp SPACE  &kp BSPC  &kp RET
            >;
        };
    };
};
