manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    # For ZMK dongle with OLED.
    - name: englmaxi
      url-base: https://github.com/englmaxi
    - name: infused-kim
      url-base: https://github.com/infused-kim
    - name: badjeff
      url-base: https://github.com/badjeff
    - name: caksoylar
      url-base: https://github.com/caksoylar
    - name: nmunnich
      url-base: https://github.com/nmunnich
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      # remote: badjeff
      # revision: feat/pointers-with-input-processors
      import: app/west.yml
    - name: zmk-dongle-display
      remote: englmaxi
      revision: main
    - name: kb_zmk_ps2_mouse_trackpoint_driver
      remote: badjeff
      revision: main
    - name: zmk-smart-toggle
      remote: caksoylar
      revision: main
    - name: zmk-component-rp2040-zero
      remote: nmunnich
      revision: main

  self:
    path: config